.title {
    height: 80px;
    background-color: blue;
    display: flex;
}

.logo {
    width: 60%;
}

.functions {
    width: 40%;
    display: flex;
    justify-content: center;
}


div.home {
    display: flex;
    height: 885px;
    background-image: url("../img/BACKGROUND.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    color: white;
    background-color: blue;
    font-size: large;
    padding-left: 10px;
    padding-right: 12px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 500px;
}

button:hover {
    color: white;
    background-color: red;
    border-color: rgba(0, 0, 0, 0);
}

button:active {
    background-color: rgb(112, 0, 0);
}

div.content {
    width: 60%;
    margin-top: 20%;
    margin-left: 10%;
}

p.content {
    font-size: x-small;
}

.data {
    text-align: center;
}


a.home, a.writings, a.about, a.pay {
    color: white;
    height: 20%;
    margin-top: 25px;
    text-decoration: none;
}

a.home, a.writings, a.about {
    margin-right: 30px;
}

a:hover {
    color: red;
}

a:active {
    color: darkred;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .functions {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.content {
        width: 100%;
        text-align: center;
        margin-top: 50%;
        margin-left: 0%;
    }

}