.title {
    height: 80px;
    background-color: blue;
    display: flex;
}

.logo {
    width: 60%;
}

.functions {
    width: 40%;
    display: flex;
    justify-content: center;
}

div.home {
    display: flex;
    height: 885px;
}

.qrcode {
    width: 60%;
    text-align: center;
}

.details {
    width: 40%;
    position: relative;
}

.wenzi {
    width: 300px;
    height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.receive {
    width: 252px;
    height: 408px;
    margin-left: 30%;
}

div.jiangli {
    width: 252px;
    height: 392px;
    margin-left: 30%;
}


img.receive {
    width: 100%;
    height: 90%;
}

img.jiangli {
    width: 100%;
    height: 90%;
}

a.home, a.writings, a.about, a.pay {
    color: white;
    height: 20%;
    margin-top: 25px;
    text-decoration: none;
}

a.home, a.writings, a.about {
    margin-right: 30px;
}

a:hover {
    color: red;
}

a:active {
    color: darkred;
}

p.content {
    font-size: x-small;
}
.data {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .functions {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.home {
        display: block;
    }

    .qrcode {
        width: 100%;
        height: 60%;
        display: flex;
    }

    .details {
        width: 100%;
        height: 40%;
        display: block;
    }

    div.receive {
        width: 50%;
        margin: 0;
    }

    div.jiangli {
        width: 50%;
        margin: 0;
    }

}