html, body {
    height: 100%;

}

body {
    display: flex;
    height: 100%;
    background-image: url("../../writings/img/东方双世录\(background\).png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(14px);  

}

.huabao {
    width: 40%;
    position: relative;
}

.details {
    width: 60%;
}

.title {
    height: 20%;
}

.content {
    height: 40%;
}

.website {
    height: 40%;
}

a:hover {
    color: red;
}

a:active {
    color: darkred;
}

a {
    color: blue;
    height: 20%;
    margin-top: 25px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .huabao {
        display: none;
    }

    .details {
        width: 100%;
    }
}