div.title {
    color: white;
}

.head {
    height: 80px;
    background-color: blue;
    display: flex;
}

.back {
    margin-top: 23px;
    margin-right: 30px;
    margin-left: 30px;
}

.videoplayer {
    display: flex;
    height: 885px;
}

div.playlist {
    width: 20%;
    height: 100%;
}

div.video {
    width: 80%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.data {
    text-align: center;
}

p.content {
    font-size: x-small;
}

svg:hover path {
    fill: red;
}

svg:active path {
    fill: darkred;
}

@media only screen and (max-width: 768px) {
    .playlist {
        display: none;
    }

    div.video {
        width: 100%;
    }
}